#March_21 2021 http://rusrails.ru/rails-form-helpers


<%= form_with model: @user do |form| %>
  Students:
  <ul>
    <%= form.fields_for :students do |students_form| %>
      <li>
        <%= students_form.label :fio %>
        <%= students_form.text_field :fio %>

        <%= students_form.label :user_id %>
        <%= students_form.text_field :user_id %>
        ...
      </li>
    <% end %>
  </ul>
<% end %>
