<!--13:29  #Листинг 9.2: Представление для редактирования пользователя app/views/users/#edit.html.erb  :11.42 #Листинг 11.42: :edit-->
<% provide(:title, "Edit user") %>  


<!--#March_21 2021 http://rusrails.ru/rails-form-helpers -->

<%= form_with model: @user do |form| %>
           <%= render 'shared/error_messages', object: form.object %>
updated_at<%= form.text_field :updated_at %>
           
 <h1>Update user and student</h1>  

 
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>

      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control' %>
     
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation, class: 'form-control' %>

    
  <p>Student:
  
    <%= form.fields_for :students do |students_form| %>
    
     <!--students updated_at<%#= students_form.text_field :updated_at %> -->
    
    <li>
          <%= students_form.label :userid %>
          <%= students_form.text_field :user_id %>

          <%= students_form.label :country %>
          <%= students_form.text_field :country %>

        <%= students_form.label :fio %>
        <%= students_form.text_field :fio %>


<%= students_form.label :lastname %>
        <%= students_form.text_field :lastname %>

<%= students_form.label :firstname %>
        <%= students_form.text_field :firstname %>

<%= students_form.label :comment %>
        <%= students_form.text_field :comment %>

       
        <%#= students_form.submit "Save student changes", class: "btn btn-primary" %>
<%= form.submit "Save form user+students changes", class: "btn btn-primary" %>
      </li>

<% end %>
 
<% end %>
