<!--#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb
Листинг 9.34:Листинг 9.34: Представление для списка пользователей. app/views/users/index.html.erb  9.41 Листинг 9.46: 9.47: Партиал для отображения отдельно взятого пользователя. app/views/users/#_user.html.erb Листинг 9.48: Полностью реорганизованный список пользователей. #ЗЕЛЕНЫЙ app/views/users/index.html.erb
-->
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>


<ul class="users">
  <%= render @users %>
</ul>



<%= will_paginate %>
