<!-- Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<% @user ||= current_user %>

<%= form_for(@student) do |f| %>


  <%= render 'shared/error_messages', object: f.object %>
  

<div class="field">
    <%#= f.text_area :user_id, placeholder: "Compose new student.user_id.." %>

<h2>create student !!! /shared/ _student_form<p></h2>
    
userid=<%= f.number_field :user_id %>

     
userid=<%#= f.number_field :user_id %>  
    
fio=<%= f.text_field :fio %>
country=<%= f.text_field :country %>

  </div>
  


<%= f.submit "Post !!", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>


