<!-- #libr  Sept 01 Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
#Листинг 7.4:Листинг 7.8:Листинг 7.10 :11.23 :12.23-->
<p><p><p>
<% provide(:title, @user.name) %> 
<%#no! provide(:title, @current_user) %> 
<% @user ||= current_user %>

<!--<li><%#= link_to "Create student", root_path %></li> -->
 
<section class="student">
                 <%#= render 'shared/student_form' %>
           </section>


<div class="row">
  <aside class="col-md-4">
         <section>
           <h1>
      @current_user=<%= @user.name %>
           </h1>
         </section>
<section class="stats">
      <%= render 'shared/stats' %>
    </section>

  </aside>








  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>(<%= @user.microposts.count %>) Microposts of the user = <%= @user.name %>  </h3> 
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <%# end %>
<% end %>
  </div>
</div>
